.bar {
  font-size: 0.5em;
  width: 13px;
  margin-right: 3px;
  background: #5050F5;
  float: left;
  font-style: oblique;
}

.app {
  font-family: arial;
  font-size: 24px;
  width: 100%;
}

.content {
  width: 50%;
  margin: 0 auto;
}

.target {
  margin-top: 100px;
}

p, h1 {
  margin: 30px;
}