.bar {
  font-size: 0.5em;
  width: 1vw;
  margin-right: 3px;
  background: rgb(81, 81, 245);
  float: left;
  font-style: oblique;
}

.app {
  font-family: arial;
  font-size: 24px;
  width: 100%;
}

.content {
  width: 50%;
  margin: 0 auto;
}

.target {
  margin-top: 100px;
}

p, h1 {
  margin: 30px;
}

button {
  margin-left: 40%;
  display: inline-block;
  outline: 0;
  border:0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #000;
  background: #fff;
  line-height: 30px;
  border-radius: 40px;
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
  box-shadow: rgb(255, 0, 0) -2px -2px 0px 2px, rgb(81, 81, 245) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transition: all 0.2s;
}